<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
	
		<header>
			<% include ../partials/header %>
		</header>
	
		<main>
			<div class="row">
				<div class="col-sm-12">
					
					<h2>Want to know more?</h2>
					<p>MORSimulator is written in <a href="http://www.w3schools.com/js/">Javascript</a>
					and runs in a <a href="http://nodejs.org/">Node.js</a> server.
					The 3D world is rendered using <a href="http://threejs.org/">three.js</a> 
					and the physics simulation is done by <a href="http://cannonjs.org/">Cannon.js</a>.
					The <a href="/">available demo</a> shows these technologies already in action.</p>
					<h3>How it works!</h3>
					<p>The main simulation instance should be running in PC because the physics simulation 
					requires processing power. You can open your PC browser at home and invite your friends 
					to run their robots from any device in your simulated world.</p>
					<h3>Building your world!</h3>
					<p>Design your world using intuitive XML code, program your robot by setting speed 
					in its motors and reading its sensors.</p>
	
				</div>
			</div>
		</main>
	
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</div>
</body>
</html>