<!DOCTYPE html>
<html>
  <head>
    <title>MORSimulator - multiplayer online robotic simulator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <%- config.gAnalytics %>
  </head>
  <body>
    <script src="cannon.js"></script>
    <script src="cannon.demo.js"></script>
    <script src="dat.gui.js"></script>
    <script src="Three.js"></script>
    <script src="TrackballControls.js"></script>
    <script src="Detector.js"></script>
    <script src="Stats.js"></script>
    <script src="smoothie.js"></script>
    <script src="viewer.js"></script>
  </body>
</html>
