<!DOCTYPE html>
<html>
  <head>
    <title>MORSimulator - multiplayer online robotic simulator</title>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        if(/Android|webOS|iPhone|iPad|iPod|Phone|BlackBerry/i.test(navigator.userAgent) ) {
          $.getScript("/js/mobile.js");
        } else {
          $.getScript("/js/desktop.js");
        }
      });
    </script>
    <%- config.gAnalytics %>
  </head>
  <body>
  </body>
</html>
