<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">

		<header>
			<% include ../partials/header %>
		</header>
	
		<main>
			<div class="jumbotron">
				<h1>MORSimulator</h1>
				<p>MORSimulator is the future of robotic simulation. Design and program your robot using any PC, tablet or smartphone. Play, share and learn with your friends</p>
			</div>
			<div class="row">
    <div class="col-sm-4">
      <h3>Physics World</h3>
      <p>MORSimulator consists of a virtual world where the physics laws are enforced on objects, 
      thus gravity and collisions are present.</p>
      <p>The user can design its own environment by adding walls, ramps, etc.</p>
    </div>
    <div class="col-sm-4">
      <h3>Robotic API</h3>
      <p>The simulator provides a set of motors and sensors that you can use.</p>
      <p>An API is available to read the robot parameters and act on the its actuators.</p>
    </div>
    <div class="col-sm-4">
      <h3>Multiplayer Mode</h3> 
      <p>Invite your friends to your virtual world, watch the robots cooperate or compete between each other.</p>
      <p>You can set goals and objectives for your world: play football, build a house, etc.</p>
    </div>
			</div>
		</main>
	
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</div>
</body>
</html>